/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/******************** ROOT VARIABLES *************************/
:root {
     --dark-green: #1B211A;
     --green:#628141;
     --light-green:#8BAE66;
     --lighter-green:#DBE4C9;
     --cream:#EBD5AB;
     --white:#FCF9EA;
}
/******************** GLOBAL *************************/
body{
    background-color: var(--lighter-green);
}
h2{
    font-size: 1.7em;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: var(--dark-green);
}
p{
    font-size: 1.1em;
    padding-left: 25px;
}
section{
    padding: 20px;
    padding-top: 30px;
    padding-bottom: 50px;
}
hr{
    background-color: var(--green);
    height: 2px;
}
/******************** NAV ****************************/
nav ul{
    display: flex;
    justify-content: center;
    background-color: var(--white);
}
nav li{
    padding: 20px;
}
nav a{
    text-decoration: none;
    font-size: 1.5em;
    color:var(--dark-green);
}

/********************** H1/HERO ***********************/

.hero{
   background-image:linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.547)),url('images/Photo1.jpg'); 
   background-size: cover;
   background-position: center;
   height: 400px;
   display: flex;
   justify-content: center;
   align-items: center;
}
h1{
  color: var(--white);
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.867);
  font-size: 2.3em;
}
/******************** ABOUT ME *************************/
.about-content{
 display: flex;
 align-items: center;
 padding: 20px;
}
.about-content img{
    width:150px;
    height: 160px;
}
/******************** Interest ************************/
ol{
    padding-top: 10px;
    padding-left: 45px;
}
#interest h2{
   padding: 20px;
}

/******************** Contact ************************/
#contact a{
    padding-left: 25px;
    color: var(--green);
}

/******************** Contact ************************/
footer{
    background-color: var(--white);
    text-align: center;
    padding: 30px;
}